<div class="container">
  <div class="header clearfix">

    <ul class="list-inline">
      <li class="pull-left">
        {{#link-to 'home'}}
        <img class="logo" src="img/logo.png">
        {{/link-to}}
      </li>
      <li class="pull-right">

        <ul class="list-inline right-nav hidden-xs">
          <li>
            <ul class="list-unstyled">
              <li>(773) 573-7709</li>
              <li>info@lakeviewspeech.com</li>
            </ul>
          </li>
          <li>
            <ul class="list-inline">
              <li>
                <a href="{{ENV.APP.yelpLink}}" target="_blank">
                  <i class="fa fa-yelp fa-3x"></i>
                </a>
              </li>
              <li>
                <a href="{{ENV.APP.facebookLink}}" target="_blank">
                  <i class="fa fa-facebook-square fa-3x"></i>
                </a>
              </li>
              <li>
                <a href="{{ENV.APP.pinterestLink}}" target="_blank">
                  <i class="fa fa-pinterest-square fa-3x"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>



  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" {{action "toggleMobileNav"}} class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse {{mobileNavClass}}">
        <ul class="nav navbar-nav" {{action 'toggleMobileNav'}}>
          <li>{{#link-to 'home'}}Home{{/link-to}}</li>
          <li>{{#link-to 'team'}}Our Team{{/link-to}}</li>
          <li>{{#link-to 'services'}}Services{{/link-to}}</li>
          <li>{{#link-to 'new-clients'}}New Clients{{/link-to}}</li>
          <li>{{#link-to 'testimonials'}}Testimonials{{/link-to}}</li>
          <li>{{#link-to 'faq'}}FAQ{{/link-to}}</li>
          <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  {{outlet}}

</div> <!-- /container -->

<footer class="footer">
  <p>&copy; {{currentYear}} Lakeview Speech and Language Clinic, LLC &nbsp; <a href="http://michaeltrumbell.com" target="_blank">Like this web design?</a></p>
</footer>
