<div class="row">
  <div class="col-xs-12 col-md-7">
    <div class="bs-callout bs-callout-green">
      <h3>Contact Form</h3>
      <form>
        <div class="form-group">
          {{input value=name type="text" class="form-control" placeholder="Name"}}
        </div>
        <div class="form-group">
          {{input value=childsName type="text" class="form-control" placeholder="Child's Name and Age"}}
        </div>
        <div class="form-group">
          {{input value=email type="text" class="form-control" placeholder="Email"}}
        </div>
        <div class="form-group">
          {{input value=phone type="text" class="form-control" placeholder="Phone"}}
        </div>
        <div class="form-group">
          {{textarea value=message type="text" class="form-control" placeholder="Message"}}
        </div>
        <ul class="list-inline">
          <li class="pull-right">
            <button {{action 'submitContactForm'}} type="submit" class="btn btn-default btn-lg">Submit</button>
          </li>
          <li class="pull-left">
            {{#if success}}
            <div class="alert alert-success" role="alert">Your message has been sent!</div>
            {{/if}}
            {{#if failure}}
            <div class="alert alert-danger" role="alert">There was an issue sending your message. Please send an email directly to info@lakeviewspeech.com.</div>
            {{/if}}
          </li>
        </ul>
        <br>
        <br>
      </form>
    </div>
  </div>
  <div class="col-xs-12 col-md-5">
    <div class="bs-callout bs-callout-green">
      <h3>Follow</h3>
      <ul class="list-inline">
        <li>
          <a href="{{ENV.APP.yelpLink}}" target="_blank">
            <i class="fa fa-yelp fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="{{ENV.APP.facebookLink}}" target="_blank">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="{{ENV.APP.pinterestLink}}" target="_blank">
            <i class="fa fa-pinterest-square fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="bs-callout bs-callout-green">
      <h3>Email</h3>
      <p><i class="fa fa-envelope"></i> info@lakeviewspeech.com</p>
    </div>
    <div class="bs-callout bs-callout-green">
      <h3>Phone</h3>
      <p><i class="fa fa-phone"></i> (773) 573-7709</p>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="bs-callout bs-callout-green">
      <h3>Locations</h3>
      {{#g-map lat=41.924528 lng=-87.707119 zoom=12 scrollwheel=false options=options as |context|}}
        {{g-map-marker context lat=41.934756 lng=-87.643860 html='Chicago, IL'}}
        {{g-map-marker context lat=41.900766 lng=-87.783487}}
      {{/g-map}}
    </div>
  </div>
</div>
<br>
